{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
  <form class="layui-form">

  </form>
  <table class="layui-hide" id="tb"></table>
</div>
<!--表格头部工具栏内容-->
<script type="text/html" id="topbar">
  <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="agree">
    <i class="layui-icon layui-icon-addition"></i> 通过
  </button>
  <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="refuse">
    <i class="layui-icon layui-icon-addition"></i> 拒绝
  </button>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
  const moduleInit = ['tool'];

  function gouguInit() {
    var table = layui.table, tool = layui.tool, form = layui.form;
    layui.pageTable = table.render({
      elem: '#tb',
      toolbar: '#topbar',
      url: '/tyh/tree/record',

      even: true,

      cols: [[
        {type: 'checkbox'},
        {type: 'numbers', title: '编号', align: 'center'},
        {field: 'tree_id', title: '树木ID', align: 'center',},
        {field: 'maintenance_date', title: '维护日期', align: 'center',},
        {field: 'maintenance_type', title: '维护类型', align: 'center',},
        {field: 'responsible_person', title: '负责人', align: 'center',},
        {field: 'status', title: '状态', align: 'center', templet: function(d) {
            return d.status === 0 ? '未申请通过' : (d.status === 1 ? '申请通过' : '申请拒绝');
          }},

      ]]
    });
    //监听表头工具栏事件
    table.on('toolbar(tb)', function (obj) {
      if (obj.event === 'add') {
        tool.side("/tyh/tree/add_record");
        return false;
      }else{
        var checkStatus = table.checkStatus('tb');
        var data = checkStatus.data;
        if (data.length > 0) {
          var book_id = [];
          var result = 0;
          for (var i in data)
            book_id[i] = data[i].id;
          if (obj.event == 'agree') {
            result = 1;
          } else if (obj.event == 'refuse') {
            result = 2;
          }
          let callback = function (e) {
            layer.msg(e.msg);
            if (e.code == 0) {
              table.reload('tb', {});
            }
          }
          tool.post("/tyh/tree/audit", {id: book_id, status: result}, callback);
        } else {
          layer.msg("请选择需要审核的数据！");
        }
      }
    });

    //监听表格行工具事件
    table.on('tool(tb)', function (obj) {
      var data = obj.data;
      console.log(data);
      if (obj.event === 'edit') {
        console.log(data.id);
        tool.side('/tyh/tree/edit_record?id=' + data.id); //url为具体的后台地址如 /zh/book/edit，其中的data.id中的id为表的主键
      } else if (obj.event === 'del') {
        layer.confirm('确定要删除该记录吗?', {
          icon: 3,
          title: '提示'
        }, function (index) {
          let callback = function (e) {
            layer.msg(e.msg);
            if (e.code == 0) {
              obj.del();
            }
          }
          tool.delete("/tyh/tree/delete_record", {id: data.record_id}, callback);
          layer.close(index);
        });
      }
      return false;
    });

    //监听搜索提交
    form.on('submit()', function (data) {
      layui.pageTable.reload({
        where: {
          keywords: data.field.keywords,
        },
        page: {
          curr: 1
        }
      });
      return false;
    });
  }
</script>
{/block}