{extend name="common/base"/}
{block name="style"}
<link rel="stylesheet" href="{__CSS__}/index.css?v={:get_system_config('web','version')}">
<link rel="stylesheet" href="{__JS__}/aos/aos.css" />
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='info' /}


<section class="banner" style="position:relative;">
	<div class="container">
		<div class="banner-text">
			<h1 data-aos="fade-up">勾股CMS，让WEB开发更简单！</h1>
			<h2 data-aos="fade-up" data-aos-delay="400">
			基于ThinkPHP6 + Layui + MySql的轻量级极速后台开发框架，干净不臃肿、操作简单、开箱即用；<br/>
			通用型的后台权限管理机制，容易功能定制和二次开发，帮助开发者简单高效降低二次开发成本。</h2>
			<div data-aos="fade-up" data-aos-delay="800">
				<a href="https://gitee.com/gouguopen/gougucms" class="btn-down" target="_blank"><span>立即下载(Gitee)</span></a>
				<a href="/admin/" class="btn-go" target="_blank"><span>体验演示</span></a>
				<span class="btn-view">查看体验账号</span>
			</div>
			<div class="banner-ops" data-aos="fade-up" data-aos-delay="1000">
				<a href="https://blog.gougucms.com/home/book/detail/bid/1.html" target="_blank" class="btn-full">文档说明，咨询微信号：hdm588</a>
				<a href="https://gitee.com/gouguopen/gougucms/releases/v{:CMS_VERSION}" target="_blank">当前版本：v{:CMS_VERSION}</a>
				<a href="https://gitee.com/gouguopen/gougucms/releases" target="_blank">更新日志</a>
				<a href="https://www.bt.cn/?invite_code=MV9zbG93ank=" rel="nofollow" target="_blank">推荐使用宝塔面板部署</a>
			</div>
		</div>
		<div class="banner-img" data-aos="zoom-out" data-aos-delay="300">
			<img src="{__IMG__}/banner_img.png" alt="">
		</div>		
	</div>
</section>

<div class="advantage">
	<div class="container" data-aos="fade-up">
		<header class="section-header">
            <h2>系统特色</h2>
            <p>完全免费开源，系统易于功能扩展，代码维护，非常容易定制和二次开发。</p>
        </header>
		<div class="item-wrap">
			<div class="advantage-item item-col-4" data-aos="fade-up" data-aos-delay="200">
				<div class="feature">
					<div class="part-icon"><img src="{__IMG__}/code.png"></div>
					<div class="part-text">
						<h3>友好的二次开发</h3>
						<p>系统采用MVC的开发模式，代码完全免费开源，注释清晰，模块相互独立，可以便捷进行二次开发。</p>
					</div>
				</div>
			</div>
			<div class="advantage-item item-col-4" data-aos="fade-up" data-aos-delay="300">
				<div class="feature">
					<div class="part-icon"><img src="{__IMG__}/auth.png"></div>
					<div class="part-text">
						<h3>RBAC权限管理</h3>
						<p>基于RBAC权限控制管理，无限父子级权限分组，可自由分配子级权限，一个管理员可同时属于多个组别。</p>
					</div>
				</div>
			</div>
			<div class="advantage-item item-col-4" data-aos="fade-up" data-aos-delay="400">
				<div class="feature">
					<div class="part-icon"><img src="{__IMG__}/log.png"></div>
					<div class="part-text">
						<h3>完整的操作日志</h3>
						<p>后台的操作留痕，全面的日志管理，全面监控方便追溯和定位问题；对平台用户的行为记录，方便分析用户的行为。</p>
					</div>
				</div>
			</div>
			<div class="advantage-item item-col-4" data-aos="fade-up" data-aos-delay="500">
				<div class="feature">
					<div class="part-icon"><img src="{__IMG__}/bak.png"></div>
					<div class="part-text">
						<h3>安全的数据备份</h3>
						<p>支持在线自由备份、下载数据、恢复数据库，提供优化表、修复表的功能，无惧数据丢失及人为损坏。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="cms-banner">
	<div class="container">
		<img src="https://blog.gougucms.com/static/admin/images/login_logo.png">
		<span>开源的博客系统</span>
		<ul>
			<li>● 基于勾股CMS开发，一脉相承</li>
			<li>● 简约、易用、轻快等特点</li>
		</ul>
		<ul>
			<li>● 集成文章、动态、归档、访问统计等功能</li>
			<li>● 可做博客，工作室，自媒体等各类网站</li>
		</ul>
		<a href="https://blog.gougucms.com/" target="_blank">免费开源</a>
	</div>
</div>
	
	
<div class="function">
	<div class="container" data-aos="fade-down">
		<header class="section-header">
            <h2>功能矩阵</h2>
            <p style="text-align:left; padding-bottom:120px;">系统后台集成了主流的通用功能，如：登录验证、系统配置、操作日志管理、角色权限、功能模块、功能节点、导航设置、网站地图、轮播广告、友情链接、TAG关键字管理、搜索关键字管理、文件上传、数据备份/还原、文章功能、商品功能、单页面管理、用户等级、用户管理、用户操作日志、用户注册/登录、 API接口等。更多的个性化功能可以基于当前系统便捷做二次开发。</p>
        </header>
		<div class="function-wrap" data-aos="fade-up">
			<div class="function-img">
				<img src="{__IMG__}/function.png">
			</div>
			<div class="function-main">
				<div class="function-item" data-aos="fade-up" data-aos-delay="200">
					<div class="item-box">
						<img src="{__IMG__}/system.png">
						<h3>系统管理</h3>
					</div>
					<ul>
						<li><span>✓</span>系统配置</li>
						<li><span>✓</span>功能模块</li>
						<li><span>✓</span>功能节点</li>
						<li><span>✓</span>权限角色</li>
						<li><span>✓</span>管 理 员</li>
						<li><span>✓</span>操作日志</li>
						<li><span>✓</span>系统配置</li>
						<li><span>✓</span>数据备份</li>
						<li><span>✓</span>数据还原</li>
					</ul>
				</div>
				<div class="function-item" data-aos="fade-up" data-aos-delay="300">
					<div class="item-box">
						<img src="{__IMG__}/data.png">
						<h3>基础数据</h3>
					</div>
					<ul>
						<li><span>✓</span>导航设置</li>
						<li><span>✓</span>网站地图</li>
						<li><span>✓</span>轮播广告</li>
						<li><span>✓</span>友情链接</li>
						<li><span>✓</span>SEO关键字</li>
						<li><span>✓</span>搜索词</li>
					</ul>
				</div>
				<div class="function-item" data-aos="fade-up" data-aos-delay="400">
					<div class="item-box">
						<img src="{__IMG__}/user.png">
						<h3>平台用户</h3>
					</div>
					<ul>
						<li><span>✓</span>用户等级</li>
						<li><span>✓</span>用户列表</li>
						<li><span>✓</span>操作记录</li>
						<li><span>✓</span>操作日志</li>
					</ul>
				</div>
				<div class="function-item" data-aos="fade-up" data-aos-delay="500">
					<div class="item-box">
						<img src="{__IMG__}/actrcle.png">
						<h3>资讯中心</h3>
					</div>
					<ul>
						<li><span>✓</span>文章分类</li>
						<li><span>✓</span>文章列表</li>
					</ul>
				</div>
				<div class="function-item" data-aos="fade-up" data-aos-delay="600">
					<div class="item-box">
						<img src="{__IMG__}/goods.png">
						<h3>商品中心</h3>
					</div>
					<ul>
						<li><span>✓</span>商品分类</li>
						<li><span>✓</span>商品列表</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div style="text-align:center; width: 100%; margin: 30px auto 0; background-color: #fff; padding:10px; box-sizing: border-box; border-radius: 10px; box-shadow: 0 0 10px rgb(0 0 0 / 10%);">
			<a href="https://curl.qcloud.com/6OiSY1Y7" target="_blank"><img src="https://www.gougucms.com/storage/image/1200x90.jpg" style="width:100%;border-radius: 6px;"></a>
		</div>
	</div>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
	<script src="{__JS__}/aos/aos.js"></script>
    <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
	  $('.btn-view').on('click',function(){
		layer.open({
			'title':'体验账号',
			'content':'用户：gougucms<br/>密码：123456'
		});
	  })
    </script>
{/block}
<!-- /脚本 -->