{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-page">
	<h3 class="pb-3">导航内容</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">父级导航<font>*</font></td>
			<td>
				<select name="pid" lay-verify="required" lay-reqText="请选择父级导航">
					<option value="0">作为顶级导航</option>
					{volist name=":set_recursion(get_nav($nav_id))" id="v"}
					<option value="{$v.id}" {eq name="pid" value="$v.id" }selected="" {/eq}>{$v.title} </option>
					{/volist}
				</select>
			</td>
			<td class="layui-td-gray">排序</td>
			<td><input type="text" name="sort" class="layui-input" value="{$nav.sort|default='0'}"></td>
			<td class="layui-td-gray">参数</td>
			<td><input type="text" name="param" placeholder="请输入导航参数，可空" class="layui-input" value="{$nav.param|default=''}"></td>
		</tr>
		<tr>
			<td class="layui-td-gray">导航名称<font>*</font></td>
			<td colspan="3"><input type="text" name="title" lay-verify="required" placeholder="请输入名称" class="layui-input" value="{$nav.title|default=''}"></td>
			<td class="layui-td-gray-2">新窗口打开</td>
			<td>
				{if condition="$id eq 0"}
				<input type="radio" name="target" value="0" title="否" checked>
				<input type="radio" name="target" value="1" title="是">
				{else/}
				<input type="radio" name="target" value="0" title="否" {eq name="$nav.target" value="0" }checked{/eq}>
				<input type="radio" name="target" value="1" title="是" {eq name="$nav.target" value="1" }checked{/eq}>
				{/if}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">网址链接</td>
			<td colspan="3">
				<input type="text" name="src" placeholder="请输入导航网址链接，可空" class="layui-input" value="{$nav.src|default=''}">
			</td>
			<td class="layui-td-gray">状态<font>*</font>
			</td>
			<td>
				{if condition="$id eq 0"}
				<input type="radio" name="status" value="1" title="正常" checked>
				<input type="radio" name="status" value="-1" title="禁用">
				{else/}
				<input type="radio" name="status" value="1" title="正常" {eq name="$nav.status" value="1" }checked{/eq}>
				<input type="radio" name="status" value="-1" title="禁用" {eq name="$nav.status" value="-1" }checked{/eq}>
				{/if}
			</td>
		</tr>
	</table>
	<div class="py-3">
		<input type="hidden" name="id" value="{$id}" />
		<input type="hidden" name="nav_id" value="{$nav_id}" />
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					setTimeout(function () {
						parent.location.reload();
					}, 1000);
				}
			}
			tool.post("/admin/nav/nav_info_add", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->