{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
    <form class="layui-form">

    </form>
    <table class="layui-hide" id="tb"></table>
</div>
<!--表格头部工具栏内容-->
<script type="text/html" id="topbar">
    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="agree">
        <i class="layui-icon layui-icon-addition"></i> 通过
    </button>
    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="refuse">
        <i class="layui-icon layui-icon-addition"></i> 拒绝
    </button>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
    const moduleInit = ['tool'];

    function gouguInit() {
        var table = layui.table, tool = layui.tool, form = layui.form;
        layui.pageTable = table.render({
            elem: '#tb',
            toolbar: '#topbar',
            url: '/tyh1/admin/bonus',
            cols: [[
                {type: 'checkbox'},
                {type: 'numbers', title: '编号', align: 'center'},
                {field: 'student_name', title: '学生姓名', align: 'center'},
                {field: 'bonus_name', title: '加分项', align: 'center'},
                {field: 'score', title: '加分值', align: 'center'},
                {field: 'status', title: '状态', align: 'center', templet: function(d) {
                        return d.status === 0 ? '待审核' : (d.status === 1 ? '已通过' : '未通过');
                    }},
            ]]
        });
        //监听表头工具栏事件
        table.on('toolbar(tb)', function (obj) {
            var checkStatus = table.checkStatus('tb');
            var data = checkStatus.data;
            if (data.length > 0) {
                var book_id = [];
                var result = 0;
                for (var i in data) {
                    book_id[i] = data[i].id;
                }
                if (obj.event === 'agree') {
                    result = 1;
                } else if (obj.event === 'refuse') {
                    result = 2;
                }
                let callback = function (e) {
                    layer.msg(e.msg);
                    if (e.code == 0) {
                        table.reload('tb', {});
                    }
                }
                tool.post("/tyh1/admin/audit", {id: book_id, status: result}, callback);
            } else {
                layer.msg("请选择需要审核的数据！");
            }
        });


        //监听表格行工具事件
        table.on('tool(tb)', function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event === 'edit') {
                console.log(data.id);
                tool.side('/tyh/tree/edit_record?id=' + data.id); //url为具体的后台地址如 /zh/book/edit，其中的data.id中的id为表的主键
            } else if (obj.event === 'del') {
                layer.confirm('确定要删除该记录吗?', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    let callback = function (e) {
                        layer.msg(e.msg);
                        if (e.code == 0) {
                            obj.del();
                        }
                    }
                    tool.delete("/tyh/tree/delete_record", {id: data.record_id}, callback);
                    layer.close(index);
                });
            }
            return false;
        });

        //监听搜索提交
        form.on('submit()', function (data) {
            layui.pageTable.reload({
                where: {
                    keywords: data.field.keywords,
                },
                page: {
                    curr: 1
                }
            });
            return false;
        });
    }
</script>
{/block}