{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
  <input type="hidden" name="tableName" value="tree"> <!-- 添加表名隐藏字段 -->

  <h3 class="pb-3">添加</h3>
  <table class="layui-table layui-table-form">
    <tr>
     <!-- <td class="layui-td-gray">记录ID<font>*</font></td>
      <td>
        <input type="text" name="
        id" lay-verify="required" class="layui-input">
      </td>-->
<!--      <td class="layui-td-gray">树木ID<font>*</font></td>-->
<!--      <td><input type="text" name="tree_id"  lay-verify="required" lay-reqText="请输入树木id" autocomplete="off"-->
<!--                 placeholder="请输入树木id" class="layui-input"></td>-->
      <td class="layui-td-gray">树木名称<font>*</font></td>
      <td>
        <select name="tree_name" lay-verify="required" lay-reqText="请选择树木名称" class="layui-input">
          <option value="">请选择树木名称</option>
          {foreach $treeList as $id => $name}
          <option value="{$name}">{$name}</option>
          {/foreach}
        </select>
      </td>
    </tr>
    <tr>
      <td class="layui-td-gray">维护日期<font>*</font></td>
      <td><input type="text" id="date" name="maintenance_date"  lay-verify="required" lay-reqText="请输入维护日期" autocomplete="off"
                 placeholder="请输入维护日期" class="layui-input"></td>
      <td class="layui-td-gray">维护类型<font>*</font></td>
      <td><input type="text" name="maintenance_type"  lay-verify="required" lay-reqText="请输入维护类型" autocomplete="off"
                 placeholder="请输入维护类型" class="layui-input"></td>
    </tr>
  </table>
  <div class="py-3">
    <button class="layui-btn layui-btn-normal" lay-submit>立即提交</button>
    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
  </div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
  var moduleInit = ['tool'];

  function gouguInit() {
    var form = layui.form, tool = layui.tool, laydate = layui.laydate;

    laydate.render({
      elem: '#date'
    });
    //监听提交
    form.on('submit()', function (data) {
      let callback = function (e) {
        layer.msg(e.msg);
        if (e.code == 0) {
          setTimeout(function () {
            parent.location.reload();
          }, 1000);
        }
      }
      tool.post("/tyh/why/add_record", data.field, callback);
      return false;
    });
  }
</script>
{/block}
<!-- /脚本 -->